body {
   /* Educ */




background: rgba(37, 12, 187, 0.26);
}
.tg{
      padding-top: 10px;

padding-right:30px ;

padding-bottom:25px;

padding-left:26px ;

text-align:center;

border-radius: 50%;

border: 00.1px solid #3B4773E5;

background:#3B4773E5;
   
position: absolute;
width: 22px;
height: 46px;
left: 298.89px;
top: 351.16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 38.9365px;
line-height: 46px;
/* identical to box height */


color: #FFFFFF;

transform: rotate(-0.54deg);

}
.f10{
/* logka */


position: absolute;
width: 164.36px;
height: 54.46px;
left: 380.84px;
top: 181.54px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 62.8017px;
line-height: 74px;

color: #D212BF;
}
.f20{
/* GDZ */


position: absolute;
width: 119.55px;
height: 37px;
left: 510.88px;
top: 172.21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 31.4871px; 
line-height: 37px;
/* identical to box height */


color: #193DBC; 

}




.e20{

}
.a10{


/* 1 */



font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 47.2306px;
line-height: 55px;

color: #FFFFFF;


   
   }

.ga10{
position: absolute;
width: 48.89px;
height: 43.94px;
left: 108.93px;
top: 527.28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 59.4114px;
line-height: 70px;

color: #FFFFFF;


}


.ga20{
  


position: absolute;
width: 34px;
height: 70px;
left: 456.13px;
top: 535.89px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 59.42px;
line-height: 70px;
/* identical to box height */


color: #FFFFFF;

transform: rotate(-0.54deg);
   }

.ga30{
position: absolute;
width: 34px;
height: 70px;
left: 839.9px;
top: 528.83px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 59.4114px;
line-height: 70px;
/* identical to box height */


color: #FFFFFF;

   }
.ga40{
/* 4 */


position: absolute;
width: 12px;
height: 23px;
left: 35.91px;
top: 225.43px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;

}


.ga50{
 /* 5 */


position: absolute;
width: 12px;
height: 23px;
left: 149.89px;
top: 228.08px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;



   }

.ga60{

 /* 6 */


position: absolute;
width: 12px;
height: 23px;
left: 276.87px;
top: 225.68px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;


   }


.ga70{

 /* 7 */


position: absolute;
width: 12px;
height: 23px;
left: 35.91px;
top: 281.74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;

   }
.ga80{

/* 8 */


position: absolute;
width: 12px;
height: 23px;
left: 278.22px;
top: 281.76px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;

   }



.b10{
   /* розділ 1 */

/* розділ 1 */


position: absolute;
width: 51px;
height: 15px;
left: 119.77px;
top: 348.45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;


}
.d21{
  /* урок 2 */


position: absolute;
width: 39px;
height: 15px;
left: 20.16px;
top: 363.75px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;


 
}
.c121{
   /* 3 */
/* 3 */


position: absolute;
width: 12px;
height: 23px;
left: 35.91px;
top: 397px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;



}
.c221{
   /* 4 */

position: absolute;
width: 12px;
height: 23px;
left: 129.96px;
top: 397.3px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;



}

.d31{
  /* урок 3 */

/* урок 3 */


position: absolute;
width: 39px;
height: 15px;
left: 20.36px;
top: 469.63px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;


 
}
.c331{
   /* 5 */
position: absolute;
width: 12px;
height: 23px;
left: 35.31px;
top: 502.71px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;


}


.c431{
   /* 6 */

position: absolute;
width: 12.65px;
height: 23px;
left: 130.64px;
top: 502.71px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;



}

.b20{
  /* розділ 2 */
position: absolute;
width: 57.53px;
height: 12.85px;
left: 117.88px;
top: 568.64px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;

opacity: 0.9;

}


.d12{
   /* урок 1 */

position: absolute;
width: 39px;
height: 15px;
left: 25.3px;
top: 616.72px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;


   
}
 .c542{
   /* 1 */

position: absolute;
width: 12px;
height: 23px;
left: 35.91px;
top: 658.54px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;


 
}
.c642{

position: absolute;
width: 12px;
height: 23px;
left: 131.31px;
top: 656.09px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;

   
}

.d22{
  /* урок 2 */
position: absolute;
width: 39px;
height: 15px;
left: 20.57px;
top: 717.91px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;

}

.c752{
   /* 3 */

position: absolute;
width: 12px;
height: 23px;
left: 36.32px;
top: 751.16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;

}

.c852{
   
   /* 4 */
position: absolute;
width: 12px;
height: 23px;
left: 130.64px;
top: 751.36px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;

}

.d32{
   /* урок 3 */
position: absolute;
width: 39px;
height: 15px;
left: 20.77px;
top: 807.26px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;

}
.c962{
   /* 5 */
position: absolute;
width: 12px;
height: 23px;
left: 35.98px;
top: 840.56px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;

opacity: 0.98;
}
.c1062{
  /* 6 */
position: absolute;
width: 12.65px;
height: 23px;
left: 131.31px;
top: 843.93px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;

 
   
}

.d42{
  /* урок 4 */

   position: absolute;
width: 39px;
height: 15px;
left: 20.27px;
top: 883.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;

}
.c1172{
   /* 7 */
position: absolute;
width: 12px;
height: 23px;
left: 31.76px;
top: 911.25px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;


}

.c1272{
   /* 8 */
position: absolute;
width: 12px;
height: 23px;
left: 131.99px;
top: 912.18px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.5849px;
line-height: 23px;
/* identical to box height */


color: #FFFFFF;

}

.b30{
   /* розділ 3 */
position: absolute;
width: 57.53px;
height: 12.85px;
left: 129.67px;
top: 958.64px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;

opacity: 0.9;
}


.d13{
   /* урок 1 */

position: absolute;
width: 39px;
height: 15px;
left: 20.4px;
top: 985.98px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13.0566px;
line-height: 15px;

color: #3B4773;

}
