body {
   /* Educ */




background: rgba(37, 12, 187, 0.26);
}

.f10{
/* logka */


position: absolute;
width: 164.36px;
height: 54.46px;
left: 380.84px;
top: 181.54px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 62.8017px;
line-height: 74px;

color: #D212BF;
}
.f20{
/* GDZ */


position: absolute;
width: 119.55px;
height: 37px;
left: 510.88px;
top: 172.21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 31.4871px; 
line-height: 37px;
/* identical to box height */


color: #193DBC; 

}




.e20{

}
.a10{


/* 1 */



font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 47.2306px;
line-height: 55px;

color: #FFFFFF;


   
   }

.ga10{

position: absolute;
width: 41.52px;
height: 37.32px;
left: 92.51px;
top: 447.79px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;


}


.ga20{
/* 2 */


position: absolute;
width: 29px;
height: 59px;
left: 387.37px;
top: 455.1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4622px;
line-height: 59px;

color: #FFFFFF;

transform: rotate(-0.54deg);

   }

.ga30{
position: absolute;
width: 29px;
height: 59px;
left: 290px;
   top: 1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

   }
.ga40{
/* 4 */
position: absolute;
width: 29px;
height: 59px;
left: 92.51px;
top: 580.76px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;


}


.ga50{
 /* 5 */
position: absolute;
width: 29px;
height: 59px;
left: 386.15px;
top: 587.59px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

   }

.ga60{

 /* 6 */
position: absolute;
width: 29px;
height: 59px;
left: 713.28px;
top: 581.4px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;



   }


.ga70{

 /* 7 */

position: absolute;
width: 29px;
height: 59px;
left: 92.51px;
top: 725.82px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
   }
.ga80{

/* 8 */
position: absolute;
width: 29px;
height: 59px;
left: 716.76px;
top: 725.88px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

   }



.b10{
   /* розділ 1 */

position: absolute;
width: 131px;
height: 39px;
left: 308.56px;
top: 897.68px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.d21{
  /* урок 2 */


position: absolute;
width: 100px;
height: 39px;
left: 51.93px;
top: 937.09px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;


 
}
.c121{
   /* 3 */
position: absolute;
width: 29px;
height: 59px;
left: 92.51px;
top: 1022.76px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;



}
.c221{
   /* 4 */
position: absolute;
width: 29px;
height: 59px;
left: 334.81px;
top: 1023.54px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;



}

.d31{
  /* урок 3 */


position: absolute;
width: 100px;
height: 39px;
left: 52.46px;
top: 1209.87px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

 
}
.c331{
   /* 5 */
position: absolute;
width: 29px;
height: 59px;
left: 90.96px;
top: 1295.1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;


}


.c431{
   /* 6 */

position: absolute;
width: 32.59px;
height: 59px;
left: 336.55px;
top: 1295.1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;



}

.b20{
  /* розділ 2 */
position: absolute;
width: 148.21px;
height: 33.11px;
left: 303.68px;
top: 1464.95px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

opacity: 0.9;
}


.d12{
   /* урок 1 */

position: absolute;
width: 100px;
height: 39px;
left: 65.18px;
top: 1588.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;


   
}
 .c542{
   /* 1 */
position: absolute;
width: 29px;
height: 59px;
left: 92.51px;
top: 1696.55px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

 
}
.c642{

position: absolute;
width: 29px;
height: 59px;
left: 338.29px;
top: 1690.24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
   
}

.d22{
  /* урок 2 */
position: absolute;
width: 100px;
height: 39px;
left: 52.98px;
top: 1849.49px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
}

.c752{
   /* 3 */

position: absolute;
width: 29px;
height: 59px;
left: 93.56px;
top: 1935.16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;


}

.c852{
   
   /* 4 */
position: absolute;
width: 29px;
height: 59px;
left: 336.55px;
top: 1935.68px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}

.d32{
   /* урок 3 */
position: absolute;
width: 100px;
height: 39px;
left: 53.51px;
top: 2079.69px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;


}
.c962{
   /* 5 */
position: absolute;
width: 29px;
height: 59px;
left: 92.7px;
top: 2165.46px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

opacity: 0.98;
}
.c1062{
  /* 6 */
position: absolute;
width: 32.59px;
height: 59px;
left: 338.29px;
top: 2174.16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;


 
   
}

.d42{
  /* урок 4 */
   position: absolute;
width: 100px;
height: 39px;
left: 52.22px;
top: 2276.86px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c1172{
   /* 7 */
position: absolute;
width: 29px;
height: 59px;
left: 81.81px;
top: 2347.59px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;


}

.c1272{
   /* 8 */
position: absolute;
width: 29px;
height: 59px;
left: 340.03px;
top: 2349.97px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}

.b30{
/* розділ 3 */


position: absolute;
width: 148.21px;
height: 33.11px;
left: 334.05px;
top: 2469.66px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

opacity: 0.9; 

}


.d13{
   /* урок 1 */
position: absolute;
width: 100px;
height: 39px;
left: 52.57px;
top: 2540.09px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;


}
.c1383{
   /* 1 */


position: absolute;
width: 29px;
height: 59px;
left: 87.6px;
top: 2640.76px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c1483{
   /* 2 */


position: absolute;
width: 29px;
height: 59px;
left: 322.62px;
top: 2640.67px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.d23{
   /* урок 2 */


position: absolute;
width: 100px;
height: 39px;
left: 49px;
top: 2801px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}

.c1593{
   /* 3 */


position: absolute;
width: 29px;
height: 59px;
left: 81.47px;
top: 2886.44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c1693{
  /* 4 */


position: absolute;
width: 29px;
height: 59px;
left: 322.62px;
top: 2886.11px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF; 
}
.d33{
  /* урок 3 */


position: absolute;
width: 100px;
height: 39px;
left: 41.42px;
top: 3030.98px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
 
}
.c17113{
/* 5 */


position: absolute;
width: 29px;
height: 59px;
left: 79.19px;
top: 3112.82px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

opacity: 0.98;
}
.c18103{
/* 6 */


position: absolute;
width: 32.59px;
height: 59px;
left: 324.36px;
top: 3124.59px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
/* урок 4 */


position: absolute;
width: 100px;
height: 39px;
left: 52.66px;
top: 3216.85px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.d43{
   /* урок 4 */


position: absolute;
width: 100px;
height: 39px;
left: 52.66px;
top: 3216.85px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c1913{
   /* 7 */


position: absolute;
width: 29px;
height: 59px;
left: 78.77px;
top: 3303.89px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c20113{
/* 8 */


position: absolute;
width: 29px;
height: 59px;
left: 327.84px;
top: 3300.4px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.b40{
   /* розділ 4 */


position: absolute;
width: 148.21px;
height: 33.11px;
left: 346.14px;
top: 3432.02px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

opacity: 0.9;
}
.d13{
 /* урок 1 */


position: absolute;
width: 100px;
height: 39px;
left: 66.68px;
top: 3502.45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
  
}
.c21124{
   /* 1 */


position: absolute;
width: 29px;
height: 59px;
left: 90.8px;
top: 3600.06px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.c22124{
/* 2 */


position: absolute;
width: 29px;
height: 59px;
left: 352.94px;
top: 3602.08px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

transform: rotate(-0.48deg);
}
.d23{
   /* урок 2 */


position: absolute;
width: 100px;
height: 39px;
left: 51.97px;
top: 3763.13px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c23134{
   /* 3 */


position: absolute;
width: 29px;
height: 59px;
left: 95.59px;
top: 3848.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c24134{
   /* 4 */


position: absolute;
width: 29px;
height: 59px;
left: 336.64px;
top: 3848.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.d33{
   /* урок 3 */


position: absolute;
width: 100px;
height: 39px;
left: 52.49px;
top: 3993.33px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
}
.c25144{
   /* 5 */


position: absolute;
width: 29px;
height: 59px;
left: 95.59px;
top: 4087.94px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

opacity: 0.98;
}
.c26144{
  /* 6 */


position: absolute;
width: 32.59px;
height: 59px;
left: 342.68px;
top: 4088.59px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
 
}
.d43{
   /* урок 4 */


position: absolute;
width: 100px;
height: 39px;
left: 52.66px;
top: 4174.25px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c27154{
/* 7 */


position: absolute;
width: 29px;
height: 59px;
left: 82.33px;
top: 4266.44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.c28154{
  /* 8 */


position: absolute;
width: 29px;
height: 59px;
left: 341.48px;
top: 4263.03px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF; 
}
.b50{
  /* розділ 5 */


position: absolute;
width: 148.21px;
height: 33.11px;
left: 340.83px;
top: 4412.68px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

opacity: 0.9; 
}
.d14{
   /* урок 1 */


position: absolute;
width: 100px;
height: 39px;
left: 59.34px;
top: 4483.1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c29165{
   /* 1 */


position: absolute;
width: 29px;
height: 59px;
left: 87.2px;
top: 4590.84px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c30165{
   /* 2 */


position: absolute;
width: 29px;
height: 59px;
left: 333.07px;
top: 4583.32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d24{
   /* урок 2 */


position: absolute;
width: 100px;
height: 39px;
left: 47.67px;
top: 4743.79px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
}
.c31175{
   /* 3 */


position: absolute;
width: 29px;
height: 59px;
left: 88.25px;
top: 4829.45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.c32175{
   /* 4 */


position: absolute;
width: 29px;
height: 59px;
left: 331px;
top: 4829px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d34{
  /* урок 3 */


position: absolute;
width: 100px;
height: 39px;
left: 48.2px;
top: 4973.99px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773; 
}
.c33185{
/* 5 */


position: absolute;
width: 29px;
height: 59px;
left: 88.25px;
top: 5068.59px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

opacity: 0.98;
}
.c34185{
   /* 6 */


position: absolute;
width: 32.59px;
height: 59px;
left: 334.81px;
top: 5068.98px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d44{
  /* урок 4 */


position: absolute;
width: 100px;
height: 39px;
left: 43.52px;
top: 5166.46px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c35195{
  /* 7 */


position: absolute;
width: 29px;
height: 59px;
left: 87.47px;
top: 5248.27px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c36195{
   /* 8 */


position: absolute;
width: 29px;
height: 59px;
left: 334.81px;
top: 5243.05px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d60{
   /* розділ 6 */


position: absolute;
width: 148.21px;
height: 33.11px;
left: 340.83px;
top: 5357.69px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

opacity: 0.9;
   
   
   
   
   
}
.d15{
   /* урок 1 */


position: absolute;
width: 100px;
height: 39px;
left: 59.34px;
top: 5428.11px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c37206{
   /* 1 */


position: absolute;
width: 29px;
height: 59px;
left: 87.2px;
top: 5535.86px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c38206{
   /* 2 */


position: absolute;
width: 29px;
height: 59px;
left: 331.33px;
top: 5528.53px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d25{
   /* урок 2 */


position: absolute;
width: 100px;
height: 39px;
left: 47.67px;
top: 5688.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;


}
.c39216{
   /* 3 */


position: absolute;
width: 29px;
height: 59px;
left: 88.25px;
top: 5774.46px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c40216{
   /* 4 */


position: absolute;
width: 29px;
height: 59px;
left: 333.07px;
top: 5772.23px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d35{
   /* урок 3 */


position: absolute;
width: 100px;
height: 39px;
left: 48.2px;
top: 5919px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c41226{
   /* 5 */


position: absolute;
width: 29px;
height: 59px;
left: 88.25px;
top: 6013.6px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

opacity: 0.98;
}
.c42226{
   /* 6 */


position: absolute;
width: 32.59px;
height: 59px;
left: 333.07px;
top: 6014.19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d45{
   /* урок 4 */


position: absolute;
width: 100px;
height: 39px;
left: 47px;
top: 6101.22px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c43236{
   /* 7 */


position: absolute;
width: 29px;
height: 59px;
left: 85.73px;
top: 6200.44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.c44236[
/* 8 */


position: absolute;
width: 29px;
height: 59px;
left: 334.81px;
top: 6188.26px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.b70{
   /* розділ 7 */


position: absolute;
width: 148.21px;
height: 33.11px;
left: 340.83px;
top: 6300.08px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

opacity: 0.9;
}
.d17{
   /* урок 1 */


position: absolute;
width: 100px;
height: 39px;
left: 52.22px;
top: 6376.26px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
}
.c45247{
   /* 1 */


position: absolute;
width: 29px;
height: 59px;
left: 87.2px;
top: 6478.25px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.c46247{
   /* 2 */


position: absolute;
width: 29px;
height: 59px;
left: 331.33px;
top: 6473.74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.d27{
  /* урок 2 */


position: absolute;
width: 100px;
height: 39px;
left: 47.67px;
top: 6631.19px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
 
}
.c47257{
   /* 3 */


position: absolute;
width: 29px;
height: 59px;
left: 88.25px;
top: 6716.86px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c48257{
   /* 4 */


position: absolute;
width: 29px;
height: 59px;
left: 334.81px;
top: 6717.44px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.d37{
/* урок 3 */


position: absolute;
width: 100px;
height: 39px;
left: 48.2px;
top: 6861.39px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
}
.c49267{
/* 5 */


position: absolute;
width: 29px;
height: 59px;
left: 88.25px;
top: 6955.99px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

opacity: 0.98;
}
.c50267{
   /* 6 */


position: absolute;
width: 32.59px;
height: 59px;
left: 336.55px;
top: 6955.92px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d47{
   /* урок 4 */


position: absolute;
width: 100px;
height: 39px;
left: 47px;
top: 7046.43px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
}
.c51277{
   /* 7 */


position: absolute;
width: 29px;
height: 59px;
left: 83.99px;
top: 7129.99px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c52277{
   /* 8 */


position: absolute;
width: 29px;
height: 59px;
left: 336.55px;
top: 7129.99px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.b80{
/* розділ 8 */


position: absolute;
width: 148.21px;
height: 33.11px;
left: 340.83px;
top: 7228.32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

opacity: 0.9;
}
.d18{
   /* урок 1 */


position: absolute;
width: 100px;
height: 39px;
left: 59.34px;
top: 7298.74px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c53288{
   /* 1 */


position: absolute;
width: 29px;
height: 59px;
left: 87.2px;
top: 7406.48px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.c54298{
   /* 2 */


position: absolute;
width: 29px;
height: 59px;
left: 331.33px;
top: 7399.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d28{
   /* урок 2 */


position: absolute;
width: 100px;
height: 39px;
left: 47.67px;
top: 7559.43px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;

}
.c55298{
   /* 3 */


position: absolute;
width: 29px;
height: 59px;
left: 88.25px;
top: 7645.1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c56308{
   /* 4 */


position: absolute;
width: 29px;
height: 59px;
left: 333.07px;
top: 7645.24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;


}
.d38{
   /* урок 3 */


position: absolute;
width: 100px;
height: 39px;
left: 48.2px;
top: 7789.63px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773;
}
.c57308{
   /* 5 */


position: absolute;
width: 29px;
height: 59px;
left: 88px;
top: 7883px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

opacity: 0.98;
}
.c58318{
   /* 6 */


position: absolute;
width: 32.59px;
height: 59px;
left: 334.81px;
top: 7883.72px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.d48{
  /* урок 4 */


position: absolute;
width: 100px;
height: 39px;
left: 47px;
top: 7979.46px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 33.6366px;
line-height: 39px;

color: #3B4773; 
}
.c59{
   /* 7 */


position: absolute;
width: 29px;
height: 59px;
left: 78.77px;
top: 8082.78px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.c60{
   /* 8 */


position: absolute;
width: 29px;
height: 59px;
left: 335px;
top: 8082px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c61{
   /* 9 */


position: absolute;
width: 29px;
height: 59px;
left: 601px;
top: 8082px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;
}
.c62{
  /* 10 */


position: absolute;
width: 57px;
height: 59px;
left: 67px;
top: 8328px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF; 
}
.c63{
/* 11 */


position: absolute;
width: 57px;
height: 59px;
left: 316px;
top: 8328px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
.c64{
   /* 12 */


position: absolute;
width: 57px;
height: 59px;
left: 587px;
top: 8328px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50.4549px;
line-height: 59px;

color: #FFFFFF;

}
