body {
   
}
.f10{
/* logka */


position: absolute;
width: 164.36px;
height: 54.46px;
left: 480.84px;
top: 181.54px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 62.8017px;
line-height: 74px;

color: #D212BF;


}
.f20{
/* GDZ */


position: absolute;
width: 119.55px;
height: 37px;
left: 610.88px;
top: 172.21px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 31.4871px;
line-height: 37px;
/* identical to box height */


color: #193DBC;

}


.e10{
/* Educ */


position: absolute;
width: 791px;
height: 9041.9px;
left: 169px;
top: 0px;

background: rgba(37, 12, 187, 0.26);

.e20{
/* Frame 1 */


position: relative;
width: 1422px;
height: 9042px;

background: #FFFFFF;      
}
.e30{
   /* Rectangle 23 */


position: absolute;
width: 458px;
height: 9042px;
left: 960px;
top: 0px;

background: #FFFFFF;
   
}

.a10{
 /* 1 */


position: absolute;
width: 38.87px;
height: 34.93px;
left: 286.6px;
top: 419.17px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 47.2306px;
line-height: 55px;

color: #FFFFFF;



}
.a20{
   
}
.a30{

}
.a40{
   
}
.a50{


}
.a60{

}
.a70{

}
.a80{

   
   


}
.b10{


}
.d21{
  /* урок 2 */



 
}
.c121{
   /* 3 */



}
.c221{
   /* 4 */



}

.d31{
  /* урок 3 */



 
}
.c331{
   /* 5 */


}


.c431{
   /* 6 */




}

.b20{
  /* розділ 2 */


}


.d12{
   /* урок 1 */


   
}
 .c542{
   /* 1 */



 
}
.c642{


   
}

.d22{
  /* урок 2 */

}

.c752{
   /* 3 */

}

.c852{
   
   /* 4 */

}

.d32{
   /* урок 3 */

}
.c962{
   /* 5 */
=
}
.c1062{
  /* 6 */

 
   
}

.d42{
  /* урок 4 */

   
}
.c1172{
   /* 7 */


}

.c1272{
   /* 8 */

}

.b30{
   /* розділ 3 */

}


.d13{
   /* урок 1 */

}
